.alert-success {
  background-color: lightblue;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
}
.topNav {
  background-color: #000000d7; 
  padding: 15px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
} .topNav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
} .topNav a {
  text-decoration: none;
  color: white;
}.topNav li:hover {
  background-color: #A0522D;
}

#signout {
  float: right;
  margin-top: -15px;
}

.centered {
  text-align: center;
}

.politicians a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.graph {
  text-align: center;
}