.p-heading{
  text-align: center;
  margin-top: 8%;
}

.vote {
  border-style: double;
  border-width: 2px;
  border-color: rgb(145, 145, 145);
  margin: 5px;
  background-color: #d2eaf9;
}

ul {
  list-style-type: none;
}

.main-banner {
  text-align: center;
}

.recent-tag {
  margin-top: -3%;
}

.greeting {
  margin-bottom: -5%;
}
