<h1 class='main-banner'> Politi-Tracker</h1>
<div class='logins'>
<div id='main-image'><%=image_tag('congress.jpg')%></div>
  <%= link_to "Sign Up", "/signup", class: "button"%>
  <%= link_to "Login", "/login", class: "button"%>
</div>